:root {
    --primary: #121212;
    --secondary: #1A1A1A;
    --tertiary: #282828;
    --accent1: #383838;
    --accent2: #3C3C3C;
    --text: #F5F5F5;
    --text-accent: #E0E0E0;
    --text-accent2: #B0B0B0;
    --font1: 'Roboto', sans-serif;
    --font2: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--text);
    font-family: var(--font1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font2);
}

a {
    color: var(--text-accent);
    text-decoration: none;
}

a:hover {
    color: var(--text-accent2);
}

header {
    background-color: var(--secondary);
    padding: 1em;
    text-align: center;
}

nav {
    background-color: var(--tertiary);
    padding: 0.5em;
    margin-bottom: 1em;
}

nav a {
    margin: 0 1em;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
}

main {
    padding: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary);
    padding: 1em;
    text-align: center;
    font-size: 0.9em; 
}