<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default("My HTMX Site") }}</title>

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    {% if eleventy.env.runMode == "serve" %}
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    {% else %}
    <link rel="stylesheet" href="/style.css">
    {% endif %}

</head>

<header hx-get="/header.html" hx-trigger="load" hx-swap="outerHTML"></header>


<body class="bg-slate-100 font-sans">

    {{ content | safe }}

</body>

<footer hx-get="/footer.html" hx-trigger="load" hx-swap="outerHTML"></footer>

</html>