:root {
    --main-color: #ffffff;
    --alt-color: #000000;
    --baclground: pink;
}

body {
    text-align: center;
    padding: 0 30%;
    background-color: var(--baclground);
    color: var(--main-color);
    font-family: sans-serif;
}
img {
    width: 50%;
    height: auto;
}
h1:hover {
    color: var(--alt-color);
}
.first-quote {
    font-size: small;
    font-weight: 100;
    font-family: serif;
}
ol {
    color: var(--alt-color);
    font-weight: bold;
    text-align: left;
}
.main-quote {
    font-family: serif;
    font-size: x-large;
    padding: 0 3em;
}
.end-part {
    color: var(--alt-color);
}