/* Use border and width elements to check div sizes */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rajdhani:wght@500&display=swap');

:root {
    /* colors */
    --primary-color: #03045e;
    --secondary-color: #0077b6;
    --accent1-color: #00b4d8;
    --accent2-color: #90e0ef;

    /* fonts */
    --heading-font: "Poppins";
    --paragraph-font: "Rajdhani", Helvetica, sans-serif;

    /* conditional colors */
    --headline-color-on-white: #03045e;
    --headline-color-on-color: white;
    --paragraph-color-on-white: #0077b6;
    --paragraph-background-color: #00b4d8;
    --nav-link-color: black;
    --nav-background-color: #0077b6;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #0B1032;
}

.navigation {
    border-style: solid;
    border-color: blue;
    text-align: center;
}

.nav-child {
    border-style: double;
    border-color: orange;
    width: 25%;
    text-align: center;
}

.hero {
    text-align: center;
    padding-bottom: 20%;

    border-style: solid;
    border-color: red;
}

.gallery {
    padding: 75px;

    border-style: solid;
    border-color: violet;

    display: flex;
}

.gallery-child {
    border-style: dashed;
    width: 30%;
    flex: auto;
    text-align: center;
}

.join {
    border-style: solid;
    border-color: green;
    display: flex;
}

.join-child {
    padding: 50px;
    border-style: dashed;
    width: auto;
    flex: auto;
}

.join-img {
    border-style: dotted;
    width: auto;
    flex: auto;
}

.foot {
    border-style: solid;
    border-color: blue;
}

.left-foot{
    border-style: dashed;
    width: 66%;
    display: inline;
    float: left;
    text-align: center;
    padding: 0;
    margin: 0;
}
.left-foot p {
    border-style: double;
    display: inline;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
.right-foot {
    border-style: dotted;
    width: 33%;
    display: inline;
    float: right;
}