@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rajdhani:wght@500&display=swap');
:root {
    /* Color palette */
    --primary-color: #03045e   ;
    --secondary-color: #0077b6 ;
    --accent1-color: #00b4d8;
    --accent2-color: #90e0ef;
  
    /* Fonts */
    --heading-font: "Poppins";
    --paragraph-font: "Rajdhani", Helvetica, sans-serif;
  
    
    --headline-color-on-white: #03045e;
    --headline-color-on-color: white;
    --paragraph-color-on-white: #0077b6; 
    --paragraph-color-on-color: white; 
    --paragraph-background-color: #00b4d8  ;
    --nav-link-color: black;
    --nav-background-color: #0077b6;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #0B1032;
  }

  /* selectors */
main section {
    text-align: center;
}
header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 150px auto;
}
body {
    background-color: white;
    font-family: var(--paragraph-font);
    font-size: 22px;
    padding: 0;
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: var(--accent2-color);
    color: black;
}
h4 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-size: 2em;
}
h2 { 
    margin: 0;
}
footer {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: var(--accent1-color);
    text-decoration: none;
}
footer a:hover {
    color: var(--accent2-color);
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
main section img {
    box-sizing: border-box;
}

/* IDs */
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2em;
}
#hero-img {
    width: 100%;
}
#background {
    background-color: var(--accent1-color);
    height: 100%;
    grid-area: 4/1/9/11;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 1/4;
    grid-row: 1/3;
    margin-top: 100px;
}
#hero-msg h4 {
    color: white;
}

/* classes */
.button-box {
    text-align: center;
}
.book, .join {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}
.home-title {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}
.msg {
    border-radius: 10px;
    background-color: var(--secondary-color);
    line-height: 1.5em;
    padding: 35px;
    grid-area: 6/6/7/10;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}
.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
.logo {
    width: 80px;
    background-color: white;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid var(--secondary-color);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}
.home-grid {
    display: grid;
    height: 200vh;
    width: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.rivers-card {
    grid-area: 2/2/3/4;
}
.camping-card {
    grid-area: 2/5/3/7;
}
.rapids-card {
    grid-area: 2/8/3/10;
}
.mountains {
    grid-area: 5/2/8/7;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 10px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
