@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rajdhani:wght@500&display=swap');
:root {
    /* Color palette */
    --primary-color: #03045e   ;
    --secondary-color: #0077b6 ;
    --accent1-color: #00b4d8;
    --accent2-color: #90e0ef;
  
    /* Fonts */
    --heading-font: "Poppins";
    --paragraph-font: "Rajdhani", Helvetica, sans-serif;
  
    
    --headline-color-on-white: #03045e;
    --headline-color-on-color: white;
    --paragraph-color-on-white: #0077b6; 
    --paragraph-color-on-color: white; 
    --paragraph-background-color: #00b4d8  ;
    --nav-link-color: black;
    --nav-background-color: #0077b6;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #0B1032;
  }

  /* selectors */
main section {
    text-align: center;
}
header {
    background-color: var(--primary-color);
}
body {
    background-color: white;
    font-family: var(--paragraph-font);
    font-size: 22px;
    padding: 0;
    margin: 0;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: var(--accent2-color);
    color: black;
}
h4 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-size: 2em;
}
footer {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: var(--accent1-color);
    text-decoration: none;
}
footer a:hover {
    color: var(--accent2-color);
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
main section img {
    box-sizing: border-box;
}

/* IDs */
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2em;
}
#hero-img {
    width: 100%;
}
#background {
    background-color: var(--secondary-color);
    height: 275px;
}
#logo_link {
    padding-top: 5px;
}

/* classes */
.button-box {
    text-align: center;
}
.book, .join {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}
.home-title {
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}
.msg {
    background-color: var(--secondary-color);
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}
.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
.logo {
    width: 80px;
    background-color: white;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid var(--secondary-color);
}


/* Rounded social icons */
/* 
.social img {
    border-radius: 50%;
} */