---
interface Props {
  url: string | undefined;
  title: string;
  pubDate: string;
  description: string;
  tags?: string[];
  image?: string;
}

const { url, title, pubDate, description, tags, image } = Astro.props;
---

<!-- Card layout container with a border, rounded corners, and hover shadow animations -->
<li class="">
  <a href={url} hx-boost="true"><div>
  <div>
    <!-- Title linked to the post -->
    <h2 class="">
      {title}
    </h2>

    <!-- Publication Date styled in muted small text -->
    <p class="">
      {new Date(pubDate).toLocaleDateString()}
    </p>

    <!-- Description with line-clamp to keep card sizes uniform -->
    <p class="">
      {description}
    </p>
  </div>

  <!-- Tag Pill Section -->
  {tags && (
    <div class="">
      {tags.map((tag) => (
        <span class="">
          #{tag}
        </span>
      ))}
    </div>
  )}
  </div></a>
</li>