---
const year = new Date().getFullYear()

const linkItem = ""
---

<!-- bg-green-900 -->
<footer class="bg-green-900 text-white p-2">
  <div class="flex">
    <p>&copy; {year} Daniel Checketts. All rights reserved.</p>

    <nav aria-label="Footer links">
      <ul class="">
        <li><a href="https://www.facebook.com/manny.checketts" class={linkItem}>Facebook</a></li>
        <li><a href="https://www.linkedin.com/in/danielchecketts" class={linkItem}>LinkedIn</a></li>
        <li><a href="https://www.github.com/dchecketts" class={linkItem}>GitHub</a></li>
      </ul>
    </nav>
  </div>
</footer>