---
const menuItem = "text-white font-semibold border-white border-2 rounded-full p-2 pl-4 pr-4 text-2xl hover:text-gray-300 hover:border-gray-300"
---
<header class="bg-green-900 p-5 flex justify-between items-center">
  <span class="font-bold text-white text-5xl hover:text-gray-300"><a href="/">Daniel Checketts</a></span>

  <ul class="flex gap-3">
    <li><a href="/about" class={menuItem}>Now</a></li>
    <li><a href="/learn" class={menuItem}>Learn</a></li>
    <li><a href="/blog" class={menuItem}>Blog</a></li>
  </ul>
</header>