@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    /* Color palette */
    --primary-color: #efefef   ;
    --secondary-color: #000000 ;
    --accent1-color: #5a4ae3;
    --accent2-color: #f61067;
  
    /* Fonts */
    --heading-font: "Source Sans Pro";
    --paragraph-font: Lato, Helvetica, sans-serif;
  
    /* Colors from above palette */
    --headline-color-on-white: var(--secondary-color);  /* Headlines on a white background */ 
    --headline-color-on-color: var(--primary-color); /* headlines on a colored background */ 
    --paragraph-color-on-white: var(--secondary-color); /* paragraph text on a white background */ 
    --paragraph-color-on-color: var(--secondary-color); /* paragraph text on a colored background */ 
    --paragraph-background-color: var(--accent2-color)  ;
    --nav-link-color: var(--accent2-color);
    --nav-background-color: var(--accent1-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--accent2-color);
  }


/* Site universal */
body {
    padding: 0;
    margin: 0;
    min-height: 71vh;
    background-color: var(--primary-color);
}
p, a {
    font-family: var(--paragraph-font);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
img {
    width: 100%;
}
/* Navigation */
nav img {
    max-width: 100px;

    background-color: var(--accent2-color);
}
nav {
    display: flex;
    background-color: var(--accent1-color);
    justify-content: space-around;
}
nav a {
    font-family: var(--heading-font);
    text-align: center;
    color: var(--accent2-color);
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    padding: 35px;
}
nav a:hover {
    color: var(--accent1-color);
    background-color: var(--accent2-color);
}
/* Footer */
footer {
    background-color: var(--accent1-color);
    text-align: center;
    padding: 35px;
}
footer p, footer a {
    display: inline;
    font-family: var(--heading-font);
    color: var(--accent2-color);
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    padding: 35px;
}

/* Home */
main.home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
main.home h1, main.home h2, main.home p {
    grid-column: 1/13;
    text-align: center;
}
main.home img:nth-of-type(1) {
    grid-column: 1/7;
    grid-row: 3/7;
}
main.home img:nth-of-type(2) {
    grid-column: 7/13;
    grid-row: 3/7;
}
main.home div {
    background-color: #efefefd9;
    padding: 50px;
    border-radius: 10px;
}
main.home div:nth-of-type(1) {
    grid-column: 2/6;
    grid-row: 4/6;
}
main.home div:nth-of-type(2) {
    grid-column: 8/12;
    grid-row: 4/6;
}
main.home div a {
    display: block;
    text-decoration: none;
    color: var(--accent1-color);
    background-color: var(--accent2-color);
    border-radius: 10px;
    padding: 15px;
    width: 80px;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

/* Subpages */
main.sub {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin: 0 30px;
}
main.sub h1 {
    grid-column: 1/10;
    text-align: center;
}
main.sub img {
    grid-column: span 5;
    margin: 30px 0;
}
main.sub div {
    grid-column: span 4;
    margin: 30px 0 30px 30px;
}
main.sub img:nth-of-type(2) {
    grid-column: -1/-5;
}
main.sub div:nth-of-type(2) {
    grid-row: 3;
    grid-column: 1/6;
    padding-right: 30px;
}
main.sub div:nth-of-type(2) h3, main.sub div:nth-of-type(2) p {
    text-align: right;
}

/* Modal on Contact Us page */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: var(--accent1-color);
    padding: 5px;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    background-color: var(--accent1-color);
    padding: 5px;
    border-radius: 10px;
    color: var(--accent2-color);
    text-decoration: none;
    cursor: pointer;
  }

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    text-align: center;
    background-color: var(--accent2-color);
    color: var(--accent1-color);

  }
  
  /* Modal Body */
  .modal-body {padding: 20px; text-align: center;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    text-align: center;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
