---
interface Props {
    spoiler?: string,
    type?: string
}

const {
    spoiler = "Shh! Can you keep a secret?"
} = Astro.props

---

<details class="group border border-slate-200 rounded-lg p-4">
    <summary class="flex justify-between items-center cursor-pointer list-none font-medium text-slate-700">
        {spoiler}
        <!-- Rotating Chevron Icon -->
        <span class="transition-transform duration-300 group-open:rotate-180">
      <svg fill="none" height="24" width="24" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"><path d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path></svg>
    </span>
    </summary>

    <div class="grid grid-rows-[0fr] transition-[grid-template-rows] duration-300 ease-in-out group-open:grid-rows-[1fr]">
        <div class="overflow-hidden">
            <slot />
            <!--<p class="pt-4 text-slate-600 leading-6">-->
            <!--    Tailwind CSS is a utility-first framework that allows you to build custom designs directly in your HTML.-->
            <!--    By using a grid transition, we can bypass the "height: auto" animation limitation.-->
            <!--</p>-->
        </div>
    </div>
</details>