---
permalink: /header.html
---

<header class="bg-white shadow">
    {% set newestPost = collections.posts[0] %}
    <nav class="max-w-3xl mx-auto p-6 flex justify-between items-center">
        <div id="logo">
            <a href="#" class="text-xl font-bold">Vibe Coding</a>
        </div>

        <!-- <div>
            <select name="filter" id="filter" class="border-black border-solid rounded-lg">
                <option value="default">Filter</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="Misc">Misc</option>
            </select>
            <select name="sort" id="sort">
                <option value="default-sort">Sort</option>
                <option value="alphabetical">Alphabetical</option>
                <option value="alphabetical-reverse">Alphabetical Reverse</option>
                <option value="date">Date</option>
                <option value="date-reverse">Date Reverse</option>
            </select>
        </div> -->

        <div id="main-nav" class="flex space-x-4">

            <a href="/" class="text-gray-600 hover:text-black">
                Home
            </a>

            <a href="/about/" class="text-gray-600 hover:text-black"
            hx-get="/about/" 
            hx-target="#content" 
            hx-select="#content">
                About
            </a>

            <a href="#" class="text-gray-600 hover:text-black"
            hx-get="/now/"
            hx-target="#content"
            hx-select="#content">Now</a>

            <a href="{{ newestPost.url }}" class="text-gray-600 hover:text-black"
            hx-get="{{ newestPost.url }}"
            hx-target="#content"
            hx-select="#content">
                Newest
            </a>
        </div>
    </nav>
</header>