/* Link to fonts */
:root {
    /* Color palette */
    /* --primary-color: #03045e   ;
    --secondary-color: #0077b6 ;
    --accent1-color: #00b4d8;
    --accent2-color: #90e0ef; */
  
    /* Fonts */
    /* --heading-font: "Poppins"; */
    --paragraph-font: "Rajdhani", Helvetica, sans-serif;
  
    
    /* --headline-color-on-white: #03045e;
    --headline-color-on-color: white;
    --paragraph-color-on-white: #0077b6; 
    --paragraph-color-on-color: white; 
    --paragraph-background-color: #00b4d8  ;
    --nav-link-color: black;
    --nav-background-color: #0077b6;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #0B1032; */
}
body {
    padding: 0;
    margin: 0;
}

/* Navigation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: green;
}

/* Body text */
h1, h2, p, a {
    font-family: sans-serif;
}

/* home specific */
.greeting {
    text-align: center;
}
.food img, .place img {
    size: 50%;
}
.categories {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.food{
    grid-area: 1/1/6/6;
    color: white;
}
.places {
    grid-area: 1/6/6/6;
    color: white;
}
.text {
    padding: 5%;
    align-self: center;
    justify-content: center;
}

.button {
    background-color: white;
    color: black;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}