/* Font input */
/* Color palette */

:root {
    /* colors */
    --primary-color: #03045e;
    --secondary-color: #0077b6;
    --accent1-color: #00b4d8;
    --accent2-color: #90e0ef;
  
    /* fonts */
    --heading-font: "Poppins";
    --paragraph-font: "Rajdhani", Helvetica, sans-serif;
  
    /* colors from palette */
    --headline-color-on-white: #03045e;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #0077b6; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #00b4d8  ;
    --nav-link-color: black;
    --nav-background-color: black;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #0B1032;
  
    /* Customized colors */
    --background-coloration: white;
    --nav-hover: rgb(136, 136, 136);
}

body {
    margin: 0;
    padding: 0;
}
nav {
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    overflow: hidden;
    background-color: var(--nav-background-color);
    position:fixed;
    width: 100%;
}
li {
  float: right;
}
li img, li form{
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
li i {
    display: block;
    color: white;
    border-color: white;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 50%;
    border-style: solid;
}
li i:hover {
    color: grey;
    border-color: grey;
}
li button {
    border-style: solid;
    background-color: black;
}
button img {
    border-style: solid;
    border-color: black;
    background-color: black;
    padding: 0;
    border-radius: 50%;
}
.search

.logo {
    float: left;
}